$white-text: #fff;
$black-text: #000000;
$dark-blue-text: #101d3a;
$reclaim-text-primary: #14288289;
$light-blue-btn: #37a8e4;
$light-gray-hover: #f5f5f5;
$reclaim-text-secondary: #384454;
$shadow-primary: #254ed247;
$reclaim-primary: rgb(13, 47, 82);

$primary-font-family: Roboto, 'Helvetica Neue', sans-serif;
